<% cache("#{work.cache_key}/recommendations", :expires_in => 2.days) do %>
<!-- Begin recomendations -->
<div id="recomendations" class="hidden">
<h3 class="landmark heading">If you liked this work...</h3>
<ul>
<ol>
<% @recs.each do |rec| %>
  <% work = Work.find_by_id(rec[0]) %>
  <% unless work.nil? %>
    <li class="work blurb group" role="article">
    <%= render 'works/work_recomended_blurb', :work => work, :score => rec[1]['score'] %>
    </li>
  <% end %>
<% end %>
</ol>
</ul>
</div>
<!-- End recomendations -->
<% end %>
